.main{
    
    width: 60%;
    height: 26.04vw;
    padding-top: 24.4vw;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    

}
h3,h5,h4{
    margin: 0   ;
}
.skills{
    margin-bottom: 0.52vw;
}

h3{
    margin-bottom: 0.52vw;
}
h5,h4{
    margin-bottom: 0.26vw;
}
p{
    margin-bottom: 0.26vw;
}